.container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#pembayaran {
    text-align: center;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.button-container {
    text-align: center;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: blue;
}
